.vscode/**
.vscode-test/**
.positron-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.test.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.editorconfig
src/**
esbuild.js
out/**/*.map
package-lock.json
*.vsix
out-test/**
.vscode-test.mjs
