.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.test.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
**/*.ts
!**/*.d.ts
node_modules/**
.editorconfig
src/**
test/**
esbuild.js
out/**/*.map
out-test/**
package-lock.json
*.vsix
